@import "scss/bootstrap.scss";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

// dark theme

body{
    @extend .bg-dark, .text-light;
}

a {
    @extend .link-light;
}

.toc-item, .date{
    @extend .text-white-50;
}

.paginate-item{
    @extend .text-white-50, .small;
}

.footer{
    @extend .text-white-50;
}

// light theme

// body{
//     @extend .bg-light, .text-dark;
// }

// a {
//     @extend .link-primary;
// }

// .toc-item, .date{
//     @extend .text-black-50;
// }

// .paginate-item{
//     @extend .text-black-50, .small;
// }

// .footer{
//     @extend .text-black-50;
// }

// sizing

.container{
    max-width: 700px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
    @extend .fw-bold;
}

// dates

.date{
    font-family: 'Roboto Mono', monospace !important;
    @extend .small;
}

// links

a.title-link{
    @extend .h4;
    background: linear-gradient(135deg, #ec528c 0%, #e2ca36 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none !important;
    font-weight: 800 !important;
}