<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }} - {{ site.title }}</title>

    {% include imports.html %}
</head>
<body>
    <div class="container my-5">
        {% include site-title.html %}
        <p class="py-3 fw-bold">
            {{ page.title }}
            <br>
            <span style="color: gray;" class="fw-normal date">{{ page.date | date: '%d %b %Y' }} – {{ page.place }}</span>
        </p>
        {{ content }}
        <hr>
        {% include footer.html %}
    </div>
</body>
</html>