<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }} - Pratik Nilange</title>

    <script src="/assets/global/jquery-3.6.0.min.js"></script>
    <script src="/assets/global/popper.min.js"></script>
    <link rel="stylesheet" href="/assets/global/bs/css/bootstrap.min.css">
    <script src="/assets/global/bs/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/assets/css/styles.css">
    <script src="/assets/js/load.js" defer></script>
    <script src="/assets/js/tooltip.js" defer></script>

        <!-- Primary Meta Tags -->
        <title>{{ page.title }} - Pratik Nilange</title>
        <meta name="title" content="{{ page.title }} - Pratik Nilange">
        <meta name="description" content="Pratik Nilange's blog">
        <link rel="icon" type="image/x-icon" href="https://pratiknilange.in/assets/icon.png">
    
        <!-- Open Graph / Facebook -->
        <meta property="og:type" content="website">
        <meta property="og:url" content="https://pratik.nl{{ page.url }}">
        <meta property="og:title" content="{{ page.title }} - Pratik Nilange">
        <meta property="og:description" content="Pratik Nilange's blog">
        <meta property="og:image" content="https://pratiknilange.in/assets/PratikNilange_30.jpeg">
    
        <!-- Twitter -->
        <meta property="twitter:card" content="summary_large_image">
        <meta property="twitter:url" content="https://pratik.nl{{ page.url }}">
        <meta property="twitter:title" content="{{ page.title }} - Pratik Nilange">
        <meta property="twitter:description" content="Pratik Nilange's blog">
        <meta property="twitter:image" content="https://pratiknilange.in/assets/PratikNilange_30.jpeg">
</head>

<body id="fadepage">
    <div class="container-fluid py-5 px-4">
        <div>
            <div id="navSmallComp"></div>
            <!-- <hr class="divi"> -->
            <p class="fw-bold {{ page.type }}-item-color">
                {{ page.title }}
                <br>
                <span class="gray fw-normal small">{{ page.date | date: site.nil.date_format }}</span>
            </p>
        </div>
        <div class="col-lg-6">
            {{ content }}
        </div>
    </div>
</body>

</html>